* {
	box-sizing: border-box;
}

/*Comenzamos con la versión móvil*/

/*Hacemos el cuerpo de la web flexible*/
body {
	display: flex;
	flex-flow: column;
	align-items: center;
	font-size: 16px;
	color: grey;
}

/*Estilo para todos los enlaces de la web*/
a {
	color: grey;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

ul {
	list-style: none;
	padding-left: 0;
}

/*Hacemos la cabecera flexible*/
header {
	/*La cabecera ocupa todo el ancho de la página*/
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;

}

/*La hamburguesa la colocamos al principio*/
header>nav#menu-principal {
	order: -4;
	padding-right: 0.5rem;
}

header>nav#menu-principal>label>span {
	font-weight: bold;
	font-size: 2rem;
}

/*El input de la hamburguesa tiene que estar oculto*/

header>nav#menu-principal>input#hamburguesa,
header>nav#menu-principal>ul#menu {
	display: none;
}

/*
header>nav#menu-principal>input#hamburguesa:checked+ul#menu {
	El menu principal es flexible
	display: flex;
	padding: 0.3rem 0;
	border-bottom: 1px solid grey;
	order: 2;
}
*/


/*En segunda posición está el buscador*/
header>nav#search {
	font-size: 1.4rem;
	order: -3;
}

/*En tercera posición se encuentra el logo*/
header>a#logo {
	font-size: 1.4rem;
	order: -2;
}

/*El logo de la cabecera tiene un tamaño fijo*/
header>a#logo>picture>img#wonder {
	width: 15rem;
	height: auto;
}


/*En cuarta posición está el icono del usuario de login*/
header>nav#login {
	font-size: 1.4rem;
	order: -1;
}

/*Por último, en quinta posición se encuentra la bolsa de la compra*/
header>nav#bag {
	padding-right: 0.5rem;
	font-size: 1.4rem;
}

/*Hacemos flexible el cuerpo principal*/
main {
	display: flex;
	flex-flow: row wrap;
}

/*Los artículos tienen que ser flexibles*/
main>article.item {
	display: flex;
	flex-flow: column;
	flex: 0 50%;
	padding: 1rem;
	align-items: center;
	text-align: center;
}

/*En la versión de móvil se muestran en filas de 2*/

main>article.item>* {
	margin-bottom: 0.5rem;
}

/*El párrafo con la descripción del artículo va en segundo lugar*/


/*La imagen del artículo aparece en primer lugar*/
main>article.item>picture {
	order: -1;
}

/*Las imágenes de los articulos tienen una anchura relativa*/
main>article.item>picture>img {
	width: 100%;
	height: auto;
}


/*El precio va en tercera posición*/
main>article.item>span {
	margin-top: auto;
}

/*El botón lo colocamos en última posición*/
main>article.item>input {
	margin-top: auto;
	border: 0;
	background-color: #92d1c8;
	border-radius: 0.2rem;
	padding: 0.5rem;
	color: white;
	width: 60%;

}

main>article.item>input:hover {
	cursor: pointer;
	background-color: #88c3ba;
}

/*Hacemos el pie flexible*/
footer {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
	background-color: rgb(232, 231, 231);
	padding: 1rem;
	width: 100%;
}

/*El menú adicional es flexible y va en segunda posición*/
footer>nav {
	display: flex;
	flex-flow: column;
	order: -1;
}

/*El menú social hay que hacerlo flexible*/
footer>nav#menu-social-adicional {
	display: flex;
	flex-flow: column;
	/*lo colocamos en primer lugar dentro del pie*/
	order: -2;

}

/*El menu social también es flexible*/
/*Se repite*/

footer>nav#menu-social-adicional>ul>li {
	display: inline;
}


footer>nav#menu-social-adicional>ul>li a {
	font-size: 1.5rem;
	color: #cda194;
	padding: 0 0.5rem;
}

/*El texto del pie va al final*/


/*VERSIÓN DE ESCRITORIO*/
/*En la cabecera va logo e iconos en la misma línea y debajo el menú*/
/*Hay 4 artículos por fila*/
/*La barra social y el menú adicional están uno al lado del otro*/
@media (min-width: 1024px) {

	/*Hacemos la cabecera flexible*/
	header {
		justify-content: end;
	}

	/*La hamburguesa la colocamos al principio*/
	header>nav#menu-principal>label {
		display: none;
	}

	header>nav#menu-principal>ul#menu {
		/*El menu principal es flexible*/
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		font-size: 1.2vw;
	}

	header>nav#menu-principal {
		flex-basis: 100%;
		border-bottom: 1px solid black;
		order: 0;
	}


	/*En segunda posición está el buscador*/
	header>nav#search {
		font-size: 1.4rem;
		order: -4;
		padding: 0 2rem;
	}

	/*En tercera posición se encuentra el logo*/
	header>a#logo {
		justify-self: baseline;
		order: -1;
		flex: 100%;
	}

	/*En cuarta posición está el icono del usuario de login*/
	header>nav#login {
		order: -3;
		padding: 0 2rem;
	}

	/*Por último, en quinta posición se encuentra la bolsa de la compra*/
	header>nav#bag {
		order: -2;
		padding: 0 2rem;
	}

	main>article.item {
		flex: 0 25%;
	}

	/*Hacemos el pie flexible*/
	footer {
		flex-flow: row wrap;
	}

	/*El menú adicional es flexible y va en segunda posición*/
	footer>nav {
		flex: 50%;
	}

	footer>nav>span {
		border-bottom: 1px solid black;
	}

	footer>nav>ul#menu-adicional {
		display: flex;
		flex-flow: row wrap;
	}

	footer>nav>ul#menu-adicional>li {
		flex: 0 50%;
		text-align: left;
	}

	/*El menú social hay que hacerlo flexible*/
	footer>nav#menu-social-adicional {
		/*lo colocamos en primer lugar dentro del pie*/
		order: -2;
	}

	footer>nav#menu-social-adicional>span {
		border-bottom: none;
	}

	footer > small {
		flex: 100%;
	}
}