* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2rem;
    background-image: url("images/99.jpg");
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}


div.row>div.columns>ul.polaroids {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div.row>div.columns>ul.polaroids>li {
    flex: 0 20%;
    margin: 1rem;
    padding: .5rem;
    background-color: white;
    display: flex;
    flex-flow: column;
}

div.row>div.columns>ul.polaroids>li:nth-child(odd) {
    transform: rotate(7deg);
}

div.row>div.columns>ul.polaroids>li:nth-child(3n) {
    transform: rotate(-7deg);
}

div.row>div.columns>ul.polaroids>li>a>img:hover {
    transform:scale(1.1);
}


div.row>div.columns>ul.polaroids>li>a {
    text-align: center;
}

div.row>div.columns>ul.polaroids>li>a[title]::after {
    content: attr(title);
    padding-top: 1.5rem;
}

div.row>div.columns>ul.polaroids>li>a> img{
    width: 100%;
    height: auto;
}